---
//import BabylonScene from "../components/BabylonScene.astro";
import ThreeScene from "../components/ThreeScene.astro";
import LoadingScreen from "../components/LoadingScreen.astro";
import SnowOverlay from "../components/SnowOverlay.astro";
import ChristmasDialog from "../components/ChristmasDialog.astro";
import ChristmasControls from "../components/ChristmasControls.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Happy Christmas and a happy new year! | Zun Creative</title>
		<meta property="og:image" content="/img/christmas-card-back.jpg" />
		<meta
			name="description"
			content="Happy Christmas and a happy new year!"
		/>
		<meta
			name="keywords"
			content="christmas, new year, happy christmas, happy new year"
		/>
		<style>
			body {
				margin: 0;
				height: 100dvh;
			}
		</style>
	</head>
	<body>
		<a href="https://zuncreative.com" class="site-logo">
			<img src="/svg/logo.svg" alt="Logo" />
		</a>
		<ThreeScene />
		<LoadingScreen />
		<SnowOverlay />
		<ChristmasDialog />
		<ChristmasControls />
	</body>
</html>

<style>
	/* ... */
	.site-logo {
		position: fixed;
		top: 2rem;
		left: 2rem;
		z-index: 100;
		width: 4rem;
		transition: opacity 0.3s ease;
		opacity: 0.7;
	}
	.site-logo:hover {
		opacity: 1;
	}
	.site-logo img {
		width: 100%;
		height: auto;
	}
	/* ... */
</style>
