---
//import BabylonScene from "../components/BabylonScene.astro";
import ThreeScene from "../components/ThreeScene.astro";
import LoadingScreen from "../components/LoadingScreen.astro";
import SnowOverlay from "../components/SnowOverlay.astro";
import ChristmasDialog from "../components/ChristmasDialog.astro";
import ChristmasControls from "../components/ChristmasControls.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Fijne kerstdagen en een gelukkig nieuwjaar!</title>
		<style>
			body {
				margin: 0;
				height: 100dvh;
			}
		</style>
	</head>
	<body>
		<ThreeScene />
		<LoadingScreen />
		<SnowOverlay />
		<ChristmasDialog />
		<ChristmasControls />
	</body>
</html>
